{% extends 'main.html' %}

{% block content %}


<div class="row">

    <div class="col-sm-4">
        
        <div class="card-body">
            <div class="header-bar" id="hd_bar1">
                <h1>Sign Up</h1>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">{{form.username.label}}</label>
                {{form.username}}

                <label for="">{{form.password1.label}}</label>
                {{form.password1}}

                <label for="">{{form.password2.label}}</label>
                {{form.password2}}

                <input style="margin-top: 20px;" class="button" type="Submit" value="Sign Up">
            </form>

            <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

        </div>
    </div>
</div>


{% endblock content %}